@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("./assets/bg12.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: auto;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}
.container h1 {
  position: absolute; 
  top: 20px;
  left: 20px; /* add this */
  transform: none; /* remove centering */
  font-family: Constantia;
  /* font-style: italic; */
  font-size:20px; 
  font-weight: 600; 
  color: #050000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  letter-spacing: 1px; 
  text-transform: uppercase; 
  /* font-family: "Poppins", sans-serif;  */
  background: linear-gradient(90deg, #0b130c, #000000); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: text-glow 2s infinite alternate ease-in-out; 
  transition: transform 0.3s ease-in-out;
  text-transform: uppercase;
  background-image:  url("./assets/t.jpg");
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
.container h1:hover {
  transform: translateX(-50%) scale(1.1);
}
.container footer {
  position: fixed;
  /* font-size: 10px; */
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 22px 20px;
    text-align: center;
    color: #DDA0DD;
    /* color: #050000; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  letter-spacing: 1px; 
  text-transform: uppercase; 
  font-family: "Poppins", sans-serif; 
  background: linear-gradient(90deg, #ffffff, #c4f6ff); 
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
    

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.logo {
  position: absolute;
  top: 20px;
  left: 2px;
  width: 200px;
  height: auto;
  object-fit: contain;
}
/* Mobile Container Fix */
@media (max-width: 768px) {
  .container {
    align-items: flex-start;
    padding-top: 100px;
    height: 100%; 
  }

  .logo {
    width: 150px;
  }

  footer {
    padding: 15px 10px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 70px;
  }

  .logo {
    width: 150px;
    top: 15px;
  }

  footer {
    font-size: 12px;
    padding: 10px 5px;
    margin-left: -20px;
    margin-bottom: -16px;
  }
}
@supports (-webkit-touch-callout: none) {
  body {
    background-attachment: scroll !important;
  }
}
